/*Colors and fonts*/

body {
	background: #FAE1DF;
	color:#0D1F2D;
	font-family:'Gothic A1', sans-serif;
	font-size: 17px;
}

.img-circle {
	border-radius: 50%;
}

.shadowed {
	box-shadow: 5px 5px 3px grey;
}
#logo {
	width: 200px;
}

.btn-above {
	background-color: rgb(270, 200, 200);
	color: white;
	padding: 15px 20px;
	border-radius: 20px;
}
.btn-above:hover {
	background-color: #FAE1DF;
	color: black;
}

h1, h2 {
	font-family:'Old Standard TT', serif;

}

h1 {
	color: #546A7B;
	font-size: 32px;
	font-weight: 400;
}

h2 {
	color: #0D1F2D;
	font-size: 24px;
	font-weight:lighter;
	font-weight:700;
}

a {
	text-decoration: none;
	color: #C16E70;
}
a:hover {
	color: #E4C3AD;
	transition:color 0.5 ease;
}

div {
	background: white;
	padding: 30px;
	border: 2px solid black;
	margin: 10px auto;
	text-align: center;
}

.container {
	width: 700px;
	margin:40px auto;
}

.card-white {
	background: white;
		padding: 60px;
		margin: 50px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
		border-radius: 4px;
}
.card-white:hover {
	color:grey ;
}

@media (max-width: 960px) {
	.container {
		width: 700px;
	}
}

@media (max-width: 720px) {
	.container {
		width: 500px;
	}
}


@media (max-width: 540px) {

	.container {
		width: 300px;
	}
}

.list-inline {
	list-style: none;
	padding-left:0px;
}
.list-inline li{
	display: inline;
	padding: 35px;
}
.list-inline i {
	font-size: 45px;
	color: #C16E70;
}

.list-inline i:hover {
	color:#E4C3AD;
	transition:color 0.5 ease;
}
#introduction p {
	margin-bottom: 40px;
}
